@mixin button {
    padding: 10px 20px;
    margin: 15px 0;
    font-weight: bold;
    background-color: grey;
    font-size: 15px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        background-color: rgb(130, 236, 130);
    }
}

@mixin bordeado() {
    border: 1px solid;
    padding: 10px;
    border-radius: 4px;
}