@mixin button {
    display: inline-block;
    text-decoration: none;
    padding: .5em 1em;
    border-radius: 3px;
    &:hover {
        background-color: rgb(72, 219, 72);
    }
}

@mixin bordeado($paramsColor) {
    border: 1px solid;
    padding: 10px;
    border-radius: 4px;
    background-color: $paramsColor;
}